<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
        }
        .form-container {
            margin-top: 50px;
            padding: 30px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-title {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">User Management</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Home/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-container mx-auto">
        <h1 class="form-title text-center">User Registration</h1>

        <!-- Ako postoji gre?ka, prika?i poruku -->
        <div th:if="${errorMessage}" class="alert alert-danger">
            <span th:text="${errorMessage}"></span>
        </div>

        <form th:action="@{/process_register}" method="post" th:object="${user}">
            <div class="form-group mb-3">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" th:field="*{email}" required/>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" th:field="*{password}" required minlength="6" maxlength="13"/>
            </div>

            <div class="form-group mb-3">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required/>
            </div>

            <div class="form-group mb-3">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required/>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
